# Prolog
*.pl~
*.swp
*.bak

# Ignore the runtime files
**/violations.pl
**/*.tmp.nlogo

node
pack/traffic_rules
output.csv

# Logical English packs
logicalenglish-*.zip
logical-english-*.vsix
le.zip

AV_Extraction*

env/
trash/
marktraffic/